@media screen and (aspect-ratio >= 1/1000) and (aspect-ratio <= 16/9) {

}

@media screen and (1 / 1000 <= aspect-ratio <= 16  /  9) {

}

@media screen and (0/0 <= aspect-ratio <= 16/9) {
}

@media screen and (aspect-ratio) and (1 / 1000 <= aspect-ratio <= 16  /  9) {

}
